@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>This is the body!</h1>

@section Styles {
    <link rel="stylesheet" vite-href="~/src/main.js" asp-append-version="true" />
}

@section Scripts {
    <script type="module" vite-src="~/src/main.js" asp-append-version="true"></script>
}
